# ============================================
# MongoDB
# ============================================

MONGO_URI=mongodb://calima_mongo:27017
MONGO_DB_NAME=calima

# ============================================
# API
# ============================================

API_KEY=your_api_key_here