# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# compiled extensions
*.so

# ===============================
# Virtual environments
# ===============================
venv/
.venv/
env/
ENV/
pipenv/

# ===============================
# Environment variables
# ===============================
.env
.env.*
*.env

# ===============================
# Python packaging
# ===============================
build/
dist/
.eggs/
*.egg-info/
*.egg

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Pytest
# ===============================
.pytest_cache/

# ===============================
# Coverage
# ===============================
.coverage
.coverage.*
coverage.xml
htmlcov/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints

# ===============================
# IDE
# ===============================

# PyCharm
.idea/

# VS Code
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Docker
# ===============================
*.pid
*.sock

# ===============================
# Temporary files
# ===============================
*.tmp
*.temp
*.bak

# ===============================
# Data exports / local data
# ===============================
*.json
*.csv
*.parquet

# allow demo example
!demo/calima_export.json
!demo/calima_export_1702.json
!demo/calima_export_lanzarote_2302.json
# ===============================
# Screenshots
# ===============================
assets/*.png
assets/*.jpg

# ===============================
# Mongo local dumps
# ===============================
dump/